
    @charset "utf-8";
    a{
        color:#df4839
    }
    
    }
    a[target="_blank"]::after{
        content: url(img/ico_blank.png);
        margin-left: 5px;
        vertical-align: middle;
    }
    h1 {
        width: 300px;
        margin: 40px auto;
        padding: 30px;
        border: 5px solid #b4abe4;
        border-radius: 50%;
        box-shadow: 0 0 10px rgb(0 0 0 / 50%);
        background-image: linear-gradient(to bottom, #ee959d, #a195e4);
        font-family: 'limelight', cursive;
        color: rgb(21, 235, 32);
        font-size: 300%;
        text-align: center;
        line-height: 1;
    }
    h2{
        padding: 10px;
        margin-bottom: 30px;
        border: 1px dotted #81c58c;;;
        border-left: 10px solid #1bdd45;
        color: rgb(221, 30, 30);
    }
    #container {
        background-color: #ffd0ad ;
        margin: 20px auto;
        width: 980px;
       }
       body{background-color: #fbf9cc;
           color: rgb(15, 30, 236);
       }
       h1{ 
           color: rgb(56, 245, 18);
       }
       p{
           margin: 0 30px;
       }
   
  